body{
    background-image: linear-gradient(to right, #090b1a, #0d0f20, #101225, #13152b, #161731, #1f1e40, #292450, #352b60, #4d387f, #69459e, #8851bd, #aa5cdb);
    text-align:  left;
    font-size: 15px;
    
}
p{
   color: hsla(0, 0%, 100%, 0.75);
   font-family: 'Lexend Deca', sans-serif;
}
h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;


}
h2{
   color: hsla(0, 0%, 100%, 0.6);
   font-family: 'Inter', sans-serif;
}
span{
    color: hsl(277, 64%, 61%);
}